<div class="wrap">
	<div class="cube">
		<div class="out-front" (click)="showLuffy()"></div>
		<div class="out-back" (click)="showChopper()"></div>
		<div class="out-left"></div>
		<div class="out-right"></div> 
		<div class="out-top"></div>
		<div class="out-bottom"></div>

		<span class="in-front"></span>
		<span class="in-back"></span>
		<span class="in-left"></span>
		<span class="in-right"></span>
		<span class="in-top"></span>
		<span class="in-bottom"></span>
	</div>
</div>

<div class="modal fade bs-example-modal-lg" id="personModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">-->
<!--<p>适用浏览器：360、FireFox、Chrome、Opera、傲游、搜狗、世界之窗. 不支持Safari、IE8及以下浏览器。</p>-->
<!--</div>-->


