/* You can add global styles to this file, and also import other style files */
html{
	background-image: url(/assets/img/bgimg.jpg);
	background-size:cover;
	height:100%;
}
body {
    display: block;
    margin: 8px;
	background-color: transparent !important;
}